[submodule "proconfig/widgets/imagen_widgets/library/ComfyUI"]
	path = proconfig/widgets/imagen_widgets/library/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_UltimateSDUpscale"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_UltimateSDUpscale
	url = https://github.com/ssitu/ComfyUI_UltimateSDUpscale.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-mixlab-nodes"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-mixlab-nodes
	url = https://github.com/shadowcz007/comfyui-mixlab-nodes
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui_controlnet_aux"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/was-node-suite-comfyui"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/was-node-suite-comfyui
	url = https://github.com/WASasquatch/was-node-suite-comfyui
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/PuLID_ComfyUI"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/PuLID_ComfyUI
	url = https://github.com/cubiq/PuLID_ComfyUI
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_InstantID"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_InstantID
	url = https://github.com/cubiq/ComfyUI_InstantID
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-AnimateDiff-Evolved"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-AnimateDiff-Evolved
	url = https://github.com/Kosinkadink/ComfyUI-AnimateDiff-Evolved
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-VideoHelperSuite"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-VideoHelperSuite
	url = https://github.com/Kosinkadink/ComfyUI-VideoHelperSuite
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_IPAdapter_plus"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_IPAdapter_plus
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-SUPIR"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-SUPIR
	url = https://github.com/kijai/ComfyUI-SUPIR
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui_segment_anything"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui_segment_anything
	url = https://github.com/storyicon/comfyui_segment_anything
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-BiRefNet-ZHO"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-BiRefNet-ZHO
	url = https://github.com/ZHO-ZHO-ZHO/ComfyUI-BiRefNet-ZHO.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/rembg-comfyui-node"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/rembg-comfyui-node
	url = https://github.com/Jcd1230/rembg-comfyui-node.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyMath"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyMath
	url = https://github.com/evanspearman/ComfyMath
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-art-venture"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-art-venture
	url = https://github.com/sipherxyz/comfyui-art-venture
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-reactor-node"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-reactor-node
	url = https://github.com/Gourieff/comfyui-reactor-node
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Advanced-ControlNet"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Advanced-ControlNet
	url = https://github.com/Kosinkadink/ComfyUI-Advanced-ControlNet
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Impact-Pack"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Pack
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-WD14-Tagger"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-WD14-Tagger
	url = https://github.com/pythongosssss/ComfyUI-WD14-Tagger
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/facerestore_cf"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/facerestore_cf
	url = https://github.com/mav-rik/facerestore_cf
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_FizzNodes"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_FizzNodes
	url = https://github.com/FizzleDorf/ComfyUI_FizzNodes.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-YoloWorld-EfficientSAM"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-YoloWorld-EfficientSAM
	url = https://github.com/ZHO-ZHO-ZHO/ComfyUI-YoloWorld-EfficientSAM
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-fastblend"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-fastblend
	url = https://github.com/AInseven/ComfyUI-fastblend
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfy_mtb"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfy_mtb
	url = https://github.com/melMass/comfy_mtb
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-AnimateAnyone-Evolved"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-AnimateAnyone-Evolved
	url = https://github.com/Cherwayway/ComfyUI-AnimateAnyone-Evolved.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-LivePortraitKJ"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-LivePortraitKJ
	url = https://github.com/kijai/ComfyUI-LivePortraitKJ.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_Comfyroll_CustomNodes"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_Comfyroll_CustomNodes
	url = https://github.com/Suzie1/ComfyUI_Comfyroll_CustomNodes.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/rgthree-comfy"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/rgthree-comfy
	url = https://github.com/rgthree/rgthree-comfy.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/Derfuu_ComfyUI_ModdedNodes"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/Derfuu_ComfyUI_ModdedNodes
	url = https://github.com/Derfuu/Derfuu_ComfyUI_ModdedNodes
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-post-processing-nodes"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-post-processing-nodes
	url = https://github.com/EllangoK/ComfyUI-post-processing-nodes
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/cg-use-everywhere"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/cg-use-everywhere
	url = https://github.com/chrisgoringe/cg-use-everywhere
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Custom-Scripts"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Custom-Scripts
	url = https://github.com/pythongosssss/ComfyUI-Custom-Scripts
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfy-image-saver"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfy-image-saver
	url = https://github.com/giriss/comfy-image-saver
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_essentials"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Kolors-MZ"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Kolors-MZ
	url = https://github.com/MinusZoneAI/ComfyUI-Kolors-MZ
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/Comfyui-ergouzi-Nodes"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/Comfyui-ergouzi-Nodes
	url = https://github.com/11dogzi/Comfyui-ergouzi-Nodes
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_LayerStyle"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_LayerStyle
	url = https://github.com/chflame163/ComfyUI_LayerStyle
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-IC-Light"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-IC-Light
	url = https://github.com/kijai/ComfyUI-IC-Light.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-BrushNet"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-BrushNet
	url = https://github.com/nullquant/ComfyUI-BrushNet
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Easy-Use"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Easy-Use
	url = https://github.com/yolain/ComfyUI-Easy-Use
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/x-flux-comfyui"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/x-flux-comfyui
	url = https://github.com/XLabs-AI/x-flux-comfyui.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/CharacterFaceSwap"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/CharacterFaceSwap
	url = https://github.com/ArtBot2023/CharacterFaceSwap
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/masquerade-nodes-comfyui"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/masquerade-nodes-comfyui
	url = https://github.com/BadCafeCode/masquerade-nodes-comfyui
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-AutomaticCFG"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-AutomaticCFG
	url = https://github.com/Extraltodeus/ComfyUI-AutomaticCFG
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Frame-Interpolation"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Frame-Interpolation
	url = https://github.com/Fannovel16/ComfyUI-Frame-Interpolation
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_MiniCPM-V-2_6-int4"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_MiniCPM-V-2_6-int4
	url = https://github.com/IuvenisSapiens/ComfyUI_MiniCPM-V-2_6-int4
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-lama-remover"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-lama-remover
	url = https://github.com/Layer-norm/comfyui-lama-remover
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyLiterals"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyLiterals
	url = https://github.com/M1kep/ComfyLiterals
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_tinyterraNodes"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_tinyterraNodes
	url = https://github.com/TinyTerra/ComfyUI_tinyterraNodes
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-BRIA_AI-RMBG"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-BRIA_AI-RMBG
	url = https://github.com/ZHO-ZHO-ZHO/ComfyUI-BRIA_AI-RMBG
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/cg-image-picker"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/cg-image-picker
	url = https://github.com/chrisgoringe/cg-image-picker
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-GGUF"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-GGUF
	url = https://github.com/city96/ComfyUI-GGUF
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-propost"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-propost
	url = https://github.com/digitaljohn/comfyui-propost
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_Dragos_Nodes"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI_Dragos_Nodes
	url = https://github.com/drago87/ComfyUI_Dragos_Nodes
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-portrait-master"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-portrait-master
	url = https://github.com/florestefano1975/comfyui-portrait-master
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/efficiency-nodes-comfyui"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/efficiency-nodes-comfyui
	url = https://github.com/jags111/efficiency-nodes-comfyui
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-various"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-various
	url = https://github.com/jamesWalker55/comfyui-various
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Inspyrenet-Rembg"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Inspyrenet-Rembg
	url = https://github.com/john-mnz/ComfyUI-Inspyrenet-Rembg
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Florence2"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Florence2
	url = https://github.com/kijai/ComfyUI-Florence2
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-FluxTrainer"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-FluxTrainer
	url = https://github.com/kijai/ComfyUI-FluxTrainer
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-KJNodes"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-MimicMotionWrapper"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-MimicMotionWrapper
	url = https://github.com/kijai/ComfyUI-MimicMotionWrapper
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-segment-anything-2"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-segment-anything-2
	url = https://github.com/kijai/ComfyUI-segment-anything-2
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Inspire-Pack"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Inspire-Pack
	url = https://github.com/ltdrdata/ComfyUI-Inspire-Pack
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Image-Filters"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Image-Filters
	url = https://github.com/spacepxl/ComfyUI-Image-Filters
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-ollama"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-ollama
	url = https://github.com/stavsap/comfyui-ollama
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Logic"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Logic
	url = https://github.com/theUpsider/ComfyUI-Logic
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-tensorops"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui-tensorops
	url = https://github.com/un-seen/comfyui-tensorops
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Crystools"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Crystools
	url = https://github.com/crystian/ComfyUI-Crystools.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-LogicUtils"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-LogicUtils
	url = https://github.com/aria1th/ComfyUI-LogicUtils.git
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui_LLM_party"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/comfyui_LLM_party
	url = https://github.com/heshengtao/comfyui_LLM_party
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Gemini"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Gemini
	url = https://github.com/ZHO-ZHO-ZHO/ComfyUI-Gemini
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Marigold"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-Marigold
	url = https://github.com/kijai/ComfyUI-Marigold
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-QualityOfLifeSuit_Omar92"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-QualityOfLifeSuit_Omar92
	url = https://github.com/omar92/ComfyUI-QualityOfLifeSuit_Omar92
[submodule "proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-GlifNodes"]
	path = proconfig/widgets/imagen_widgets/library/comfy_custom_nodes/ComfyUI-GlifNodes
	url = https://github.com/glifxyz/ComfyUI-GlifNodes
