GitPython
Pillow>=9.5.0
Requests
Scipy
accelerate
addict
aiohttp
albumentations
altair>=4.2.2
arxiv
beautifulsoup4
bitsandbytes
bitsandbytes>=0.43.3
blend_modes
blind-watermark
boto3>=1.34.101
cachetools
came_pytorch
charset_normalizer
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
clip-interrogator==0.6.0
cmake
color-matcher
colorama
colour-science
cpm_kernels
cupy-cuda12x
decord
deepdiff
diffusers>=0.28.0
diskcache
docx2txt
einops
facexlib
fairscale
faiss-cpu
fal-client
fastapi
ffmpeg-python
filelock
ftfy
ftfy>=6.1.1
future
fvcore
gdown # supports downloading the large file from Google Drive
gguf>=0.9.1
gitpython
google-generativeai
google.generativeai
gradio
gradio_client
html2image
huggingface-hub
huggingface-hub>=0.24.5
huggingface_hub
huggingface_hub>=0.23.3
hydra-core
imageio
imageio-ffmpeg
imageio_ffmpeg
imagesize>=1.4.1
importlib_metadata
inference-cli>=0.13.0
inference-gpu[yolo-world]>=0.13.0
insightface
insightface==0.7.3
joblib
keyboard
kornia
kornia>=0.7.1
langchain
langchain_community
langchain_openai
langchain_text_splitters
lark-parser
librosa
lion-pytorch>=0.0.6
llama_index
lmdb
loguru
lpips
markdown
matplotlib
mediapipe
mss
neo4j
numba
numexpr
numpy
numpy<2
numpy<2.0
numpy<2.0.0
numpy<=1.26.4
ollama
omegaconf
omegaconf==2.3.0
onnx2torch
onnx==1.14.0
onnxruntime
onnxruntime-gpu
open-clip-torch
open-clip-torch>=2.24.0
openai
opencv-contrib-python
opencv-contrib-python-headless>=4.7.0.72
opencv-contrib-python>=4.7.0.72
opencv-python
opencv-python-headless>=4.9.0.80
opencv-python>=4.7.0.68
opencv-python>=4.7.0.72
openpyxl
optimum
pandas
pdfplumber
peft
peft>=0.7.0
piexif
pilgram
pillow
pillow >= 10.2.0
pillow>=10.3.0
pixeloe
prodigyopt>=1.0
protobuf
psd-tools
psutil
py-cpuinfo
pyOpenSSL
pycocoevalcap
pydantic
pydub
pykalman
pymatting
pynvml
python-dateutil
pytorch-lightning>=2.2.1
pytorch_lightning
pytz
pyyaml
pyzbar
qrcode
qrcode[pil]
redis
rembg
rembg[gpu]
requests
requests_toolbelt
requirements-parser
rich
rich_argparse
safetensors>=0.4.4
scikit-image
scikit-image>=0.20.0
scikit-learn
scikit_image
scipy
scipy>=1.11.4
segment-anything
segment_anything
selenium
sentence_transformers
sentencepiece>=0.2.0
simple-lama-inpainting
simpleeval
sounddevice
soundfile>=0.12.1
spandrel
streamlit
surrealist
svglib
tabulate
tb-nightly
tenacity
tiktoken
timm==0.6.13
tokenizers>=0.13.3
toml>=0.10.2
torch
torchaudio
torchdiffeq
torchmetrics
torchscale
torchsde
torchvision
tqdm
transformers>=4.44.0
transformers_stream_generator
transparent-background==1.2.12
trimesh>=4.0.5
trimesh[easy]
typer_config
ultralytics==8.2.92
uvicorn
virtualenv
voluptuous>=0.13.1
wandb
watchdog
websocket-client
wget
wikipedia
xformers
xlrd
yacs
yapf
pilmoji==2.0.4
emoji==1.7.0
flask
PyExecJS
fuzzywuzzy
cloudpickle
albucore==0.0.16
pygit2
playwright