@tailwind base;
@tailwind components;
@tailwind utilities;
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}
input[type='number'] {
  -moz-appearance: textfield;
}

a {
  color: var(--ant-color-link) !important;
}
