# name: "Storybook Tests"

# on:
#   push:
#     paths:
#       - ".yalc/**"
#       - "web/apps/web/**"
#       - "web/packages/**"
#       - ".github/**"
#   pull_request:
#     paths:
#       - "web/apps/web/**"
#       - "web/packages/**"
#       - ".github/**"

# jobs:
#   test:
#     timeout-minutes: 10
#     runs-on: ubuntu-latest
#     env:
#       CYPRESS_INSTALL_BINARY: "0"
#       PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: "1"

#     steps:
#       - uses: actions/checkout@v3

#       - uses: pnpm/action-setup@v2
#         with:
#           version: 9
#           run_install: false

#       - uses: actions/setup-node@v4
#         with:
#           node-version: "20"
#           cache: "pnpm"
#           cache-dependency-path: "web/pnpm-lock.yaml"

#       - run: npm install concurrently http-server wait-on -g

#       - working-directory: ./web
#         run: pnpm install

#       - working-directory: ./web
#         run: |
#           pnpm turbo run build-storybook --filter=storybook

#       - working-directory: ./web/apps/storybook
#         run: ./node_modules/.bin/playwright install --with-deps chromium

#       - working-directory: ./web/apps/storybook
#         run: |
#           concurrently -k -s first -n "SB,TEST" -c "magenta,blue" "http-server storybook-static --port 6006 --silent" "wait-on tcp:6006 && ./node_modules/.bin/test-storybook"
