# EditorConfig is awesome: https://EditorConfig.org

# 顶层文件，适用于所有文件类型
root = true

# 适用于所有文件类型
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript 文件
[*.js]
indent_style = space
indent_size = 2

# TypeScript 文件
[*.ts]
indent_style = space
indent_size = 2

[*.tsx]
indent_style = space
indent_size = 2

# HTML 文件
[*.html]
indent_style = space
indent_size = 2

# CSS 文件
[*.css]
indent_style = space
indent_size = 2

# JSON 文件
[*.json]
indent_style = space
indent_size = 2

# Markdown 文件
[*.md]
trim_trailing_whitespace = false
